*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#maindiv{
    padding: 1rem;
}
h1{
    background-color: azure;
}
.svgimg{
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
}
.list li{
    list-style-type: none;
    display: none;
    font-size: 1rem;
    border: 1px solid;
    border-bottom: 1px solid;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.svgimg:hover{
    background-color: rgba(153, 151, 151, 0.836);
    
}
.svgimg:hover +.list li{
display: inline-block;
width: 7rem;

}
.list ul{
    width: 7.1rem;
    background-color: rgba(153, 151, 151, 0.836);

}
.svgimg:hover +.list ul{
      border-radius: 5px;
border: 1px solid ;

}

.svgimg svg{
    width: 20px;
    height: 10px;
}
